# Import Dependencies
Importing pypsa- the library used to perform power system analysis through Python.

In [1]:
import pypsa

# Creating a Network 
Container for all components and functions which act upon the whole network. Backbone of the whole analysis.

In [2]:
network = pypsa.Network()

# Adding Components
Adding buses, loads and lines to the network to give it shape.

In [3]:
network.add("Bus", "Bus 1", v_nom=230.0)  # Voltage is set to 230 kV
network.add("Bus", "Bus 2", v_nom=230.0)
network.add("Bus", "Bus 3", v_nom=230.0)
network.add("Bus", "Bus 4", v_nom=230.0)
network.add("Bus", "Bus 5", v_nom=230.0)

In [4]:
network.add("Load", "Load 1", bus="Bus 2", p_set=100.0, q_set=50.0)  # Active power = 100 MW, Reactive power = 50 MVAR
network.add("Load", "Load 2", bus="Bus 3", p_set=75.0, q_set=30.0)
network.add("Load", "Load 3", bus="Bus 4", p_set=50.0, q_set=20.0)

In [5]:
network.add("Generator", "Generator 1", bus="Bus 1", p_nom=200.0, control="Slack Gen")  # Active power = 200 MW, Slack
network.add("Generator", "Generator 2", bus="Bus 5", p_nom=150.0, control="PQ")

In [6]:
network.add("Line","Line 1", bus0 = "Bus 1", bus1 ="Bus 2", x=0.1, r=0.2)  # X, R, and S values for the line
network.add("Line","Line 2", bus0 = "Bus 2", bus1 = "Bus 3", x=0.1, r=0.2)
network.add("Line", "Line 3", bus0 = "Bus 3", bus1 = "Bus 4", x=0.1, r=0.2)
network.add("Line","Line 4", bus0 = "Bus 4", bus1 = "Bus 5", x=0.1, r=0.2)

# Load Flow Analysis 
The function is used to perform Load Flow Analysis through Newton-Raphson method."

In [7]:
network.pf()

INFO:pypsa.pf:Performing non-linear load-flow on AC sub-network SubNetwork 0 for snapshots Index(['now'], dtype='object', name='snapshot')
INFO:pypsa.pf:Newton-Raphson solved in 2 iterations with error of 0.000000 in 0.048202 seconds

{'n_iter': SubNetwork  0
 snapshot
 now         2,
 'error': SubNetwork             0
 snapshot
 now         2.999594e-07,
 'converged': SubNetwork     0
 snapshot
 now         True}

# Analysing the network
Peforming basic analysis to find out voltage magnitudes, phasor angles and other deatils about the whole system.

In [8]:
network.lines

attribute,bus0,bus1,type,x,r,g,b,s_nom,s_nom_extendable,s_nom_min,...,v_ang_max,sub_network,x_pu,r_pu,g_pu,b_pu,x_pu_eff,r_pu_eff,s_nom_opt,v_nom
Line,,,,,,,,,,,,,,,,,,,,,
Line 1,Bus 1,Bus 2,,0.1,0.2,0.0,0.0,0.0,False,0.0,...,inf,0,0.000002,0.000004,0.0,0.0,0.000002,0.000004,0.0,230.0
Line 2,Bus 2,Bus 3,,0.1,0.2,0.0,0.0,0.0,False,0.0,...,inf,0,0.000002,0.000004,0.0,0.0,0.000002,0.000004,0.0,230.0
Line 3,Bus 3,Bus 4,,0.1,0.2,0.0,0.0,0.0,False,0.0,...,inf,0,0.000002,0.000004,0.0,0.0,0.000002,0.000004,0.0,230.0
Line 4,Bus 4,Bus 5,,0.1,0.2,0.0,0.0,0.0,False,0.0,...,inf,0,0.000002,0.000004,0.0,0.0,0.000002,0.000004,0.0,230.0

In [9]:
network.buses

attribute,v_nom,type,x,y,carrier,unit,v_mag_pu_set,v_mag_pu_min,v_mag_pu_max,control,sub_network,generator
Bus,,,,,,,,,,,,
Bus 1,230.0,,0.0,0.0,AC,,1.0,0.0,inf,Slack,0,Generator 1
Bus 2,230.0,,0.0,0.0,AC,,1.0,0.0,inf,PQ,0,NaN
Bus 3,230.0,,0.0,0.0,AC,,1.0,0.0,inf,PQ,0,NaN
Bus 4,230.0,,0.0,0.0,AC,,1.0,0.0,inf,PQ,0,NaN
Bus 5,230.0,,0.0,0.0,AC,,1.0,0.0,inf,PQ,0,NaN

In [10]:
network.generators

attribute,bus,control,type,p_nom,p_nom_extendable,p_nom_min,p_nom_max,p_min_pu,p_max_pu,p_set,...,shut_down_cost,min_up_time,min_down_time,up_time_before,down_time_before,ramp_limit_up,ramp_limit_down,ramp_limit_start_up,ramp_limit_shut_down,p_nom_opt
Generator,,,,,,,,,,,,,,,,,,,,,
Generator 1,Bus 1,Slack,,200.0,False,0.0,inf,0.0,1.0,0.0,...,0.0,0,0,1,0,NaN,NaN,1.0,1.0,0.0
Generator 2,Bus 5,PQ,,150.0,False,0.0,inf,0.0,1.0,0.0,...,0.0,0,0,1,0,NaN,NaN,1.0,1.0,0.0

In [11]:
network.buses_t.v_mag_pu

Bus       Bus 1     Bus 2     Bus 3     Bus 4     Bus 5
snapshot
now         1.0  0.998959  0.998391  0.998164  0.998164

In [12]:
network.lines_t.p0

              Line 1      Line 2     Line 3  Line 4
snapshot
now       225.309613  125.079763  50.011004     0.0

In [13]:
network.buses_t.v_ang

Bus       Bus 1     Bus 2     Bus 3     Bus 4     Bus 5
snapshot
now         0.0 -0.000047 -0.000095 -0.000114 -0.000114

# Conclusion
We have performed the load flow analysis of a simple 5-bus network in this program.